/*style pour le body*/
body {
  background-color: #000c22;
  color: #ffffff;
  font-family: Arial, sans-serif;
}
/*style pour le header, cette partie est tjr affiché même lorsque l'on descend dans la page grâce au position:fixed*/
header {
  padding: 20px;
  padding-bottom: 0px;
  color: #FEFEE2;
  position: fixed;
  display: block;
  background-color: #010a1f;
  width: 100%;
  z-index: 1000;
  top: 0;
  box-shadow: 0px 5px 5px #010a1f;
}

footer {
  padding-bottom: 10px;
  margin-top: 2%;
  display:flex;
  justify-content: space-evenly;
  align-items: center; /* Centrer horizontalement */
}
iframe {
	border: 0;
}
.contacter {
  grid-row: 4/5;
  grid-column: 1/2;
}

.a_propos {
  grid-row: 4/5;
  grid-column: 1/3;
}

.contacter h3,
.a_propos h3 {
  margin-bottom: 5px; /* Espace en bas pour les titres */
  text-align: center; /* Centre le texte des éléments h3 */
}

.contacter a,
.a_propos a {
  text-decoration: none;
  color: white;
}

.contacter h4,
.a_propos h4 {
  text-align: center; /* Centre le texte des éléments h4 */
  width: 100%; /* Éventuellement, ajuste la largeur pour centrer */
  display: block;
  padding: 2px; /* Ajuste l'espacement à l'intérieur des boîtes */
  border-radius: 20px;
  background-color: #333;
  transition: all 0.3s ease; /* Animation de transition pour un effet doux */
  cursor: pointer; /* Change le curseur pour indiquer l'interactivité */
}

.contacter h4:hover,
.a_propos h4:hover {
  border-radius: 30px; /* Augmente le rayon de la bordure */
  background-color: #FF595A; /* Change la couleur de fond au survol */
}
.a_propos{
  width: 10em;
}
/*style pour les titres h1*/
h1 {
  margin: 0;
  font-size: 36px;
}
/*style pour les liens des titres h1*/
h1 a {
  text-decoration: none;
  color: white;
}
/*style pour les titres h2*/
h2 {
  color: #FF595A;
  padding-top: 60px;
  margin-top: 0;
}
/*style pour la partie principale de la page*/
main {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

#contact {
  margin-top: 140px;
}

/*style pour les listes dans la navigation*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*style pour la classe language,cette partie est tjr affiché même lorsque l'on descend dans la page grâce au position:fixed*/ 
.language {
  display: flex;
  background-color: #FF595A;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  position: fixed;
  bottom: 3%;
  right: 3%;
  z-index: 1;
}
/*style pour la classe photo_language*/
.photo_language {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/*style pour l'image dans la classe photo_language*/
.photo_language img {
  width: 75%;
  position: absolute;
  height: 75%;
  right: 12%;
  max-width: 100%;
  max-height: 100%;
  bottom: 10%;
  border-radius: 0%;
}
/*padding ajouter pour la classe menu*/
.menu {
  padding: 10px;
}
/*style pour les liens dans la classe menu*/
.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}
/*style pour les listes de la classe menu*/
.menu li {
  display: inline-block;
  position: relative;
}
/*display passe en block lorsqu'on passe notre souris sur une des liste de la classe submenu */
.menu li:hover .submenu {
  display: block;
}
/*style pour la classe submenu*/
.submenu {
  display: none;
  position: absolute;
  background-color: #333;
  z-index: 1;
  top: 100%;
  border-radius: 20px;
}
/*style pour les liens dans la classe submenu*/
.submenu a {
  display: block;
  padding: 10px 20px;
  width: 200px;
}
/*style lorsqu'on passe notre souris sur l'un des liens de la classe submenu*/
.submenu a:hover {
  display: block;
  border-radius: 20px;
  background-color: #FF595A;
  transition-duration: 0.15s;
}
/*style pour la classe website_link*/
.website_link {
  text-decoration: none;
  color: #FF595A;
}
/*couleur qui change quand on passe notre souris sur un élément de la classe website_link*/
.website_link:hover {
  text-decoration: none;
  color: #be0000;
}
/*style pour la classe carousel*/
.carousel {
  position: relative;
  margin-top: 26px;
}
/*style pour la classe carousel-inner*/
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
/*style pour n'importe quel bouton radio(<input type="radio">),case à cocher(<input type="checkbox">)
 ou option(<option> d'un élément <select>) de la classe carousel-open ainsi que pour les éléments de la classe carousel-item */
.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}
/*style pour la classe carousel-item*/
.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
/*style pour les images dans la classe carousel-item*/
.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}
/*style pour les éléments de la classe carousel-control*/
.carousel-control {
  margin-top: 5%;
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
/*décalage de 2% à gauche pour les éléments de la classe carousel-control ayant un "prev" dans le nom de la classe*/
.carousel-control.prev {
  left: 2%;
}
/*décalage de 2% à droite pour les éléments de la classe carousel-control ayant un "next" dans le nom de la classe*/
.carousel-control.next {
  right: 2%;
}
/*changement de couleur lorsqu'on passe la souris par dessus un élément de la classe carousel-control*/
.carousel-control:hover {
  color: #aaaaaa;
}

/*passage en display:block pour les éléments listés ci-dessous*/
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6 {
  display: block;
}
/*style pour les éléments de la classe carousel-indicators*/
.carousel-indicators {
	list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
/*style pour les listes de la classe carousel-indicators*/
.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}
/*style pour les éléments de la classe carousel-bullet*/
.carousel-bullet {
	color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
/*changement de couleur lorsqu'on passe la souris par dessus un élément de la classe carousel-bullet*/
.carousel-bullet:hover {
    color: #aaaaaa;
}
/*on met la largeur max des éléments iframe à 100% */
iframe {
    max-width: 100%;
}
/*style pour les images*/
img {
    margin-top: 10%;
    max-width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
/*définition d'un grid-container, permettant de structuré la page comme on l'entend, ici les 6 éléments sont 2 par 2 en largeur sur une hauteur de 3 élément au total*/
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 50px;
    grid-template-areas: "texte1 image1" "image2 texte2" "texte3 image3" "contact propos";
    align-items: center;
}
/*placement des différents éléments de la grille*/
.eltA {
    padding-left: 5%;
    padding-right: 2%;
    grid-row: 1/2;
    grid-column: 1/2;
}

.eltB {
    padding-right: 5%;
    padding-left: 2%;
    grid-row: 2/3;
    grid-column: 2/3;
}

.eltC {
    padding-left: 5%;
    padding-right: 2%;
    grid-row: 3/4;
    grid-column: 1/2;
}

.image1 {
    padding-right: 5%;
    grid-row: 1/2;
    grid-column: 2/3;
}

.image2 {
    padding-left: 5%;
    grid-row: 2/3;
    grid-column: 1/2;
}

.image3 {
    padding-right: 5%;
    grid-row: 3/4;
    grid-column: 2/3;
}


/*permet de changé des éléments si la taille de l'écran est inférieur à 1200px*/
@media only screen and (max-width: 1200px) {
/*changement de style pour les éléments dans main,pour les images dans une classe carousel-control, et pour les images en général*/ 
    main {
        display: flex;
        flex-wrap: wrap;
    }
    
	.carousel-control,
	img {
		margin-top: 0;
	}

	img {
		padding: 0;
	}
	/*définition d'un grid-container, permettant de structuré la page comme on l'entend,
	 ici les 6 éléments sont les uns sur les autres dans un ordre précis*/
	.grid-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: "texte1" "image1" "texte2" "image2" "texte3" "image3" "contact" "propos";
	}
	/*placement des différents éléments de la grille*/
	.eltA {
		grid-row: 1/2;
		grid-column: 1/2;
    padding-right: 2%;
    padding-left: 2%;
	}

	.eltB {
		grid-row: 3/4;
		grid-column: 1/2;
    padding-right: 2%;
    padding-left: 2%;
	}

	.eltC {
		grid-row: 5/6;
		grid-column: 1/2;
    padding-right: 2%;
    padding-left: 2%;
	}

	.image1 {
		grid-row: 2/3;
		grid-column: 1/2;
    padding-right: 2%;
    padding-left: 2%;
	}

	.image2 {
		grid-row: 4/5;
		grid-column: 1/2;
    padding-right: 2%;
    padding-left: 2%;
	}

	.image3 {
		grid-row: 6/7;
		grid-column: 1/2;
    padding-right: 2%;
    padding-left: 2%;
	}

}

/* Media query pour les écrans ayant une largeur maximale de 550px */
@media only screen and (max-width: 550px) {
  /* Réorganise le pied de page en colonne pour les petits écrans */
  footer {
    flex-direction: column; /* Affiche les éléments côte à côte sur écrans larges */
    justify-content: space-around; /* Espacement égal entre les éléments */
  }
  
  /* Style pour la section "Contacter" dans la grille */
  .contacter {
    grid-row: 7/8;
    grid-column: 1/2;
    padding-right: 2%;
    padding-left: 2%;
  }
  
  /* Style pour la section "À Propos" dans la grille */
  .a_propos {
    grid-row: 8/9;
    grid-column: 1/2;
    padding-right: 2%;
    padding-left: 2%;
  }
}

/* Styles pour les éléments de formulaire */
input[type=text],
select,
input[type=email],
input[type=tel],
input[type=file],
textarea {
  border-radius: 30px;
  width: 100%;
  padding: 3%;
  margin: 3%;
  background-color: white;
  font-size: 130%;
  cursor: pointer;
  border: none;
  align-self: center;
  transition: all 0.2s ease;
}

/* Styles pour les états "hover" des champs de formulaire */
input[type=text]:hover,
input[type=select]:hover,
input[type=email]:hover,
input[type=tel]:hover {
  background-color: #FF595A;
  color: white;
}

/* Styles pour les états "focus" des champs de formulaire */
input[type=text]:focus,
input[type=select]:focus,
input[type=email]:focus,
input[type=tel]:focus {
  background-color: #FF595A;
  color: white;
  cursor: text;
}

/* Styles pour les étiquettes des champs de formulaire */
label[for="objet"] {
  display: block;
  position: fixed;
}

/* Styles pour l'élément "objet" du formulaire */
#objet {
  border-radius: 30px;
  width: 100%;
  padding: 3%;
  margin: 3%;
  background-color: white;
  font-size: 130%;
  cursor: pointer;
  border: none;
}

#objet:hover {
  background-color: #FF595A;
  color: white;
  -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
}

#objet:focus {
  border-radius: 30px;
  width: 100%;
  padding: 3%;
  margin: 3%;
  background-color: #FF595A;
  color: white;
  cursor: text;
}

/* Styles pour les éléments "description" et "document" du formulaire */
#description,
#document {
  width: 100%;
  padding: 3%;
  margin: 3%;
  background-color: white;
  border-radius: 30px;
  font-size: 200%;
  cursor: pointer;
  border: none;
}

#description:hover,
#document:hover {
  background-color: #FF595A;
  color: white;
}

#description:focus,
#document:focus {
  background-color: #FF595A;
  color: white;
  cursor: text;
}

/* Styles pour les boutons de type "submit" et "reset" du formulaire */
input[type=submit],
input[type=reset] {
  margin: 0;
  text-align: center;
  width: 30%;
  padding: 2px;
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer; 
  height: 80px;
  border: none;
  font-size: 170%;
}

input[type=submit]:hover, input[type=reset]:hover {
  background-color: #FF595A;
  color: white;
}


/* Styles pour d'autres éléments */
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

form.formLetter {
  max-width: 50%;
}

/* Styles pour l'élément avec l'ID "contact" */
#contact {
  justify-content: center;
}
/* Styles pour d'autres éléments */
legend {
  font-size: 150%;
  padding: 6px;
  font-weight: bold;
}

.genre {
  margin-top: 3%;
}

.contact_button {
  display: flex;
  justify-content: space-evenly;
}

::placeholder,
select {
  color: #010a1f;
}

/* Styles pour les placeholders au survol des champs de formulaire */
input[type=text]:hover::placeholder,
input[type=select]:hover::placeholder,
input[type=email]:hover::placeholder,
input[type=tel]:hover::placeholder {
  color: white; /* Couleur du placeholder lorsqu'il est survolé */
  transition: all 0.2s ease; /* Transition de couleur sur 0.2s */
}

/* Style pour les champs de type "file" */
input[type=file] {
  color: black; /* Couleur du texte pour les champs de type "file" */
}

/* Styles pour l'affichage de la vidéo */
#videoToggle {
  display: none; /* Masque l'élément "videoToggle" */
}

/* Conteneur de la vidéo */
#videoContainer {
  position: fixed; /* Position fixe pour le conteneur vidéo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Empilement en arrière-plan */
}

/* Vidéo elle-même */
#videoContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajustement de la vidéo pour remplir le conteneur */
}

/* Si videoToggle est coché, masque le conteneur vidéo */
#videoToggle:checked ~ #videoContainer {
  display: none;
}

/* Étiquette pour le contrôle de la vidéo */
label[for=videoToggle] {
  position: absolute; /* Position absolue pour l'étiquette videoToggle */
  top: 25%;
  left: 50%;
  width: 10em;
  transform: translateX(-50%);
  display: block;
  background-color: white; /* Couleur de fond pour l'étiquette */
  color: #010a1f; /* Couleur du texte pour l'étiquette */
  cursor: pointer; /* Curseur pointer pour indiquer l'interaction */
  border-radius: 30px; /* Coins arrondis pour l'étiquette */
  text-align: center; /* Alignement du texte au centre */
}

/* Au survol de l'étiquette, changement de couleur de fond et de texte */
label[for=videoToggle]:hover {
  background-color: #FF595A; /* Nouvelle couleur de fond au survol */
  color: white; /* Nouvelle couleur de texte au survol */
  transition: all 0.2s ease; /* Transition de couleur sur 0.2s */
}

@media only screen and (max-width: 900px) {

  /* Conteneur de la vidéo */
  #videoContainer {
    display: none;
  }

  /* Vidéo elle-même */
  #videoContainer video {
   display: none;
  }

  /* Étiquette pour le contrôle de la vidéo */
  label[for=videoToggle] {
   display: none;
  }

}